{{define "index"}}
<!DOCTYPE html>
<html lang="en">

{{template "header" .}}

<body>
  {{template "navbar" .}}
  <div class="conteiner-fluid">
    <div class="first">
      <div class="row">
        <div class="text-center" style="padding-top: 300px; color:white;">
          <div style="font-size:150px;"> traveler </div>
          <h2>share your travels with others</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h1>Want to travel?</h1>
        <h4>
          so may be other people like come with you.So share your travels to others
        </h4>
      </div>
      <div class="col-sm-7">
        <h1>What is traveler?</h1>
        <h4>
          Traveler is the site that you can share your travels to others or see other travels
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <h1>How traveler helps?</h1>
        <h4>
          in traveler you may find good places for travel or show good places to travel to others
        </h4>
      </div>
      <div class="col-sm-7">
        <h1>Lets start!</h1>
        <h4>
          do you have account? so create account share and enjoy!
        </h4>
      </div>
    </div>
  </div>
</body>

{{template "footer" .}}

</html>
{{end}}