{{define "login"}}
<!DOCTYPE html>
<html lang="en">
{{template "header" .}}

<body>
    {{template "navbar" .}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="well">
            <h1 class="text-center"> Login </h1>
            <form role="form" class="form" method="POST">
                <div class="form-group">
                    <label for="userName">UserName:</label>
                    <input type="text" name="username" class="form-control" id="userName">
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" name="password" class="form-control" id="pwd">
                </div>
                {{if .invalid }}
                <div class="alert alert-danger"> <span class="glyphicon glyphicon-alert"></span> wrong username or password</div>
                {{end}}
                <button type="submit" class="btn btn-success btn-block btn-lg">login</button>
            </form>
        </div>
    </div>
</body>
{{template "footer" .}}

</html>
{{end}}