{{define "userEdit"}}
<!DOCTYPE html>
<html lang="en">
{{template "header" .}}

<body>
    {{template "navbar" .}}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="well well-sm">
                    <form role="form" class="form" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <label for="userName">UserName:</label>
                            <input type="text" name="username" value={{with .onuser}}{{.Username}}{{end}} class="form-control" id="userName">                            {{if .userinvalid}}
                            <div class="alert alert-danger">invalid user name</div>
                            {{end}} {{if .takenusername}}
                            <div class="alert alert-danger">username has been taken</div>
                            {{end}}
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" name="password" class="form-control" id="pwd"> {{if .passnotmatch}}
                            <div class="alert alert-danger">passwords not match together</div>
                            {{end}}
                        </div>
                        <div class="form-group">
                            <label for="pwd-rpt">Repeat Password</label>
                            <input type="password" name="password-repeat" class="form-control" id="pwd-rpt">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" value={{with .onuser}}{{.Email}}{{end}} class="form-control" id="email">
                        </div>
                        {{if .takenemail}}
                        <div class="alert alert-danger">this E-mail used before</div>
                        {{end}}
                        <div class="form-group">
                            <label for="Image">Image</label>
                            <input type="hidden" name="token" value="{{.}}" />
                            <input type="file" name="Image" class="" id="Image">
                        </div>
                        {{if .emptyfield}}
                        <div class="alert alert-danger">this fields cant be blank</div>
                        {{end}}
                        <button type="submit" class="btn btn-success btn-block btn-lg">Save</button>
                        <a class="btn btn-warning btn-block btn-lg" href="/user">cancel</a>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    <div class="text-center">
                        <h1>{{.Username}}</h1>
                    </div>
                    <img class="img-circle img-responsive" style="width:100%" src={{with .onuser}}{{.ID | getUserImage}}{{end}}>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>
{{template "footer" .}}

</html>
{{end}}